
<h1>Список записей </h1>
<tbody>
<p>Рад, что ты зашёл в болог РЫЖЕГО КОТА</p>
<div> <img src="https://pp.userapi.com/c846416/v846416902/8417d/hDECZxfSCEM.jpg" alt="РЫЖАЯ КОШАЧЬЯ РОЖА" width="300" height="200"></div>

<% if user_signed_in? %>
  <%= link_to 'Добавить запись', new_post_path %> 
<% end %> 

    <% @posts.reverse.each do |post| %>
     
        <p><%= post.title %></p>
        <p><%= post.text %></p>
       <%= image_tag(post.foto.url, alt: 'Foto') if post.foto? %>
        <% if user_signed_in? %>
          <p><%= link_to 'Редактировать', edit_post_path(post) %>
          <%= link_to 'Удалить', post, method: :delete, data: { confirm: 'Вы уверены?' } %></p>
        <% end %>
    <% end %>
 
<br>


</tbody>
